<section class="aadi-haat">
    <img class="color-circle" src="../../assets/images/coloredcircleAsset 3.png" alt="color circle"/>
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="section-wrapper">
            <div class="content-section">
                <h2 class="title">AADI HAAT</h2>
                <h3 class="subtitle">Empowering<br>Tribal Artisans Digitally</h3>
                <p>AADI HAAT is revolutionizing the way tribal artisans interact with the modern market by providing a digital platform for them to sell their art and handicrafts. In the digital age, this marketplace helps connect these artisans to a global audience, allowing their unique craftsmanship to be appreciated far and wide. It also provides them with the opportunity to set fair prices for their a crucial step in empowering tribal communities, fostering a sense of independence and pride in their craft.</p>
                <a href="#" class="know-more">Know More</a>
            </div>
            <div class="slider-section">
                <div class="swiper haat-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../assets/images/haat.jpg" alt="Tribal Crafts">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/haat2.jpeg" alt="Tribal Crafts">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/images/haat1.jpeg" alt="Tribal Crafts">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>