<section class="welcome-section">
    <div class="moving-banner">
        <div class="banner-content">
            <img src="../../assets/images/bg_art1.png" alt="Tribal Dance Pattern">
        </div>
    </div>
    <div class="container">
        <div class="welcome-content">
            <p><strong>Welcome to the Aadi Sanskriti Platform</strong>, which promotes learning and engagement with rich and diverse tribal socio-cultural heritages and life. Our mission is to empower tribal communities through the preservation and promotion of their traditions while fostering their socio-economic development.</p>
            
            <p>Through <strong>Aadi Sanskriti</strong>, immerse yourself in the world of <strong>Aadi Viswavidalaya</strong>, our tribally centered online learning hub, where you can learn the intricacies of their arts and crafts from expert tribal artists and artisans. Also get driven into <strong>Aadi Sampada</strong>, a rich repository of tribal heritage, livelihoods, traditions, and indigenous knowledge, a vibrant testimony to the deep-rooted cultural heritage of the tribal peoples.</p>
            
            <p>Enter into the wonderful world of tribes, learn about them, and learn from them.</p>
        </div>
    </div>
</section>