<section class="tree-layout">
  <img class="pot" src="../../assets/images/pot.svg" alt="pot" />
    <div class="container">
        <div class="tree-container">
            <img src="../../assets/images/tree.png" alt="Tribal Tree" class="tree-base">
            
            <div class="icon-positions">
                <div class="icon icon-1">
                   
                    <div class="card1">
                       
                        <div class="flip-container">
                            <div class="overlay-img"></div>
                          <div class="flipper">
                            <div class="front">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/vidyalaya-1.jpg" alt="">
                              <span>Aadi Vishwavidyalaya</span>
                            </div>
                            <div class="back">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/aadi-sampada-3.jpg" alt="">
                              <span>Aadi Sampada</span>
                            </div>
                          </div>
                        </div>
                      </div>
   
                </div>
                <div class="icon icon-2">
                    <img src="../../assets/images/coloredcircleAsset%201.png" alt="Tribal Icon">
                </div>
                <div class="icon icon-3">
                    <img src="../../assets/images/coloredcircleAsset%204.png" alt="Tribal Icon">
                </div>
                <div class="icon icon-1 icon-1-1">
                   
                    <div class="card1">
                       
                        <div class="flip-container">
                            <div class="overlay-img"></div>
                          <div class="flipper">
                            <div class="front">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/adi-haat-3.jpg" alt="">
                              <span>Aadi Haat</span>
                            </div>
                            <div class="back">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/adi-haat-1.jpg" alt="">
                              <span>Aadi Haat</span>
                            </div>
                          </div>
                        </div>
                      </div>
   
                </div>
                <div class="icon icon-1 icon-1-7">
                   
                    <div class="card1">
                       
                        <div class="flip-container">
                            <div class="overlay-img"></div>
                          <div class="flipper">
                            <div class="front">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/C2.jpg" alt="">
                              <span>Aadi Sampada</span>
                            </div>
                            <div class="back">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/C1.jpg" alt="">
                              <span>Aadi Sampada</span>
                            </div>
                          </div>
                        </div>
                      </div>
   
                </div>
                <div class="icon icon-1 icon-1-6">
                   
                    <div class="card1">
                       
                        <div class="flip-container">
                            <div class="overlay-img"></div>
                          <div class="flipper">
                            <div class="front">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/vidyalaya-1.jpg" alt="">
                              <span>Aadi vidyalaya</span>
                            </div>
                            <div class="back">
                                <div class="img-overlay"></div>
                              <img src="../../assets/images/vidyalaya-2.jpg" alt="">
                              <span>Aadi Vidyalaya</span>
                            </div>
                          </div>
                        </div>
                      </div>
   
                </div>
                <div class="icon icon-5">
                    <img src="../../assets/images/coloredcircleAsset%202.png" alt="Tribal Icon">
                </div>
            </div>
        </div>
    </div>
</section>