<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<footer class="main-footer">
    <img class="footer-img" src="../../assets/images/footer.svg" alt="footer img"/>
    <div class="container position-relative">
        <div class="footer-links">
            <nav>
                <a href="#">Public Grievances</a>
                <span class="separator">|</span>
                <a href="#">Website Policy</a>
                <span class="separator">|</span>
                <a href="#">Copyright Policy</a>
                <span class="separator">|</span>
                <a href="#">Feedback</a>
            </nav>
            <div class="social-links">
                <span>Follow Us</span>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2025 | Website Content Owned by Ministry of Tribal Affairs, Government of India</p>
        </div>
        <div class="disclaimer">
            <p>Disclaimer: This is a beta version. This work is an ongoing effort to bring the world of tribes to the global world and enable them to appreciate the richness that surrounds us. While respecting cultural sensitivities, promoting tribal culture, and accurately conveying meanings. We kindly request users to provide feedback for any corrections or improvements observed, as this is a work in progress. Any inaccuracies should not be seen as intentional but as part of the continuous development process. We value and welcome your insights to enhance the quality of this portal further.</p>
        </div>
    </div>
</footer>