<section class="banner-section">
    <div class="container">
        <h1 class="main-title">AADI SANSKRITI</h1>
        <div class="banner-wrapper">
            <div class="main-slider">
                <div class="swiper banner-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="../../assets/images/vidyalaya-3.svg" alt="Banner 1">
                                <div class="overlay"></div>
                                <h2 class="slide-title">Aadi Vishwavidyalaya</h2>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="../../assets/images/aadi-sampada-3.jpg" alt="Banner 2">
                                <div class="overlay"></div>
                                <h2 class="slide-title">Aadi Sampada</h2>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="../../assets/images/adi-haat-1.jpg" alt="Banner 3">
                                <div class="overlay"></div>
                                <h2 class="slide-title">Aadi Haat</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
            <!-- ... rest of the banner code ... -->
       <!-- ... main slider remains same ... -->
<div class="banner-thumbnails">
    <div class="thumb-item">
        <div class="swiper thumb-slider-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../assets/images/vidyalaya-1.jpg" alt="Thumb 1-1">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/aadi-sampada-2.jpg" alt="Thumb 1-2">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/aadi-sampada-1.jpg" alt="Thumb 1-3">
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-item">
        <div class="swiper thumb-slider-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../assets/images/adi-haat-3.jpg" alt="Thumb 1-1">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/adi-haat-2.jpg" alt="Thumb 1-2">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/adi-haat-1.jpg" alt="Thumb 1-3">
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-item">
        <div class="swiper thumb-slider-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../assets/images/salia.jpg" alt="Thumb 1-1">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/courses-daalbaatichurma.jpg" alt="Thumb 1-2">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/courses-mudcraft.jpg" alt="Thumb 1-3">
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-item">
        <div class="swiper thumb-slider-4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../assets/images/M1.jpg" alt="Thumb 1-1">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/angami.jpg" alt="Thumb 1-2">
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/images/vidyalaya-3.jpg" alt="Thumb 1-3">
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>